<strong>Olá {{ student}}</strong>
<p>Sua pergunta foi respondida em {{ date }}</p>
<br />
<strong>Pergunta:</strong> <br />
<label style="padding-left: 10px;">{{ question }}</label>
<br />
<strong>Resposta:</strong> <br />
<label style="padding-left: 10px;">{{ answer }}</label>
<br />
